
<div style="background-color:rgb(0, 0, 0);">
<div class="jumbotron text-center" style="background-color:rgb(112, 181, 241);">
        <h1>TRUONGMOBILE</h1>
        <p>LOGIN</p> 
      </div>
       
        
            <form  autocomplete='off' class='form'  role="form"  method="POST" style="background-color:rgb(0, 0, 0);">
            <div class='control block-cube block-input'>
    <input name="username" placeholder='Username' type='username'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
  </div>
  <div class='control block-cube block-input'>
    <input name="password" placeholder='Password' type='password'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
  </div>

                <div>
                 {{!-- <button type="submit" class="btn btn-primary btn-block"><a>Login</a></button> --}}
                  <button class='btn block-cube block-cube-hover' type='submit'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
     <a  class="btn btn-primary btn-block">Login</a>
    </div>
  </button>
                  {{!-- <button type="button" class="btn btn-default btn-block">Register</button> --}}
                   </form>
                   </div>
                
     
       



